<div ng-controller="PSBski.TextAreaWithCharCount" id="TextAreaWithCharCount">
    <textarea ng-model="model.value"
           ng-change="update()"
           class="umb-editor umb-textarea textstring"
           type="text"
           rows="5" /><br />
    <small ng-class="model.className">{{model.remainingCount}} chars remaining</small>
</div>
<style>
    #TextAreaWithCharCount
    .red {
        color: #FF0000;
    }
    #TextAreaWithCharCount
    .orange {
        color: #FF8C00;
    }
    #TextAreaWithCharCount
    .green {
        color: #008000;
    }
</style>